.toolbar {
  grid-area: toolbar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #5d81ec;
  color: #ffffff;
}

.toolbar__content {
  display: flex;
  align-items: center;
}
